<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEViz</title>

    <link rel="stylesheet" href="css/default.css" type="text/css">
    <div id="styles">
    </div>
</head>
<body>
    <div id="ui-control">
        <select id="fileDropDown" onchange="handleFileChoice(this.value)">
            <option value="-1">Select a data file</option>
        </select>
        <select id="layoutDropDown" onchange="handleLayoutChoice(this.value)">
            <option value="-1">Select a layout</option>
        </select>
    	<select id="classDropDown" onchange="handleClassChoice(this.value)" style="visibility:hidden">
    		<option value="-1">Select a class</option>
    	</select>
        <select id="typeDropDown" onchange="handleTypeChoice(this.value)" style="visibility:hidden">
            <option value="-1">Select a type</option>
        </select>
    </div>

    <div id="data-viz">
        <!-- This will be the location of the SVG -->
    </div>

    <div id="meta-data">
        <!-- This will be the location of the meta-data, if any -->
    </div>

    <div id="scripts">
        <script type="text/javascript" defer src="lib/d3/d3.js"></script>
        <script type="text/javascript" defer src="lib/d3/d3.hive.min.js"></script>
        <script type="text/javascript" defer src="lib/globals.js"></script>
        <script type="text/javascript" defer src="lib/utils.js"></script>
        <script type="text/javascript" defer src="lib/ui.js"></script>
        <script type="text/javascript" defer src="lib/data.js"></script>
        <script type="text/javascript" defer src="lib/main.js"></script>
    </div>
</body>
</html>
