<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEViz</title>
    <script type="text/javascript" src="lib/d3/d3.js"></script>
    <script type="text/javascript" src="lib/d3/d3.hive.min.js"></script>
    <script type="text/javascript" src="lib/utils.js"></script>
    <script type="text/javascript" src="lib/globals.js"></script>
    <link rel="stylesheet" type="text/css" href="css/%s.css">
</head>
<body>
    <script type="text/javascript">
    	function backButtonClick(){
            var node = nodeStack.pop();
            if(node == undefined){
    		  //drawGraph(root);
              //currentNode = root;
              alert(1);
              return;
            }
            //drawGraph(node);
            //currentNode = node;
    	}

    	function changeHandler(){
            var d = document.getElementById("navDropDown");
            var val = d[d.selectedIndex].value;
            //drawGraph(val);
            //nodeStack.push(currentNode);
            //currentNode = val;
    	}
    </script>
    <div id="meta-data">
    </div>
    <div id="ui-control">
    	<button id="backButton" class="navButton" onclick="backButtonClick()" style="visibility:hidden">&#8592</button>
    	<select id="navDropDown" onchange="changeHandler()" style="visibility:hidden">
    		<option value="-1">Select a Node</option>
            <!--<option value='{"a":1, "b":2}'>test opt</option>-->
    	</select>
    </br>
    <!--
    NOTE: details tag only supported in Chrome Safari and Opera, may want to replace with a different tag
    -->
    <details open="true">
    	<summary>Selected Node Data</summary>
    	<p id="nodeDetails">so much more data to go here!</p>
    </details>
    </div>
    <div id="data-viz">
    </div>
    <script type="text/javascript" src="layout/%s.js"></script>
    <script type="text/javascript">
        (function(){
        //unhide user controls
            document.getElementById("backButton").style.visibility = "";
            document.getElementById("navDropDown").style.visibility = "";
    })();
    </script>
</body>
</html>