.label {
    font-size: 2em;
}

.label:hover {
    font-size: 3em;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.highlightNode {
    fill: red;
    font-size: 5em;
    stroke: red;
}

.highlightLink {
    stroke: red;
    stroke-opacity: .85;
}

